<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Time & Attendance</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  {% load static %}
  <script src="{% static 'js/main.js' %}"></script>
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container-fluid">
    <div class="row" style="height:100%">
      <div id="side_bar" class="col-3">
      {% block sidebar %}
        <ul  class="sidebar-nav list-unstyled">
          <li><a  class="nav-link fa" href="{% url 'index' %}"> Dashboard</a></li>
          <li class="">
              <a class="nav-link" href="#" data-toggle="collapse" data-target="#visitors_nav">
                <i class="fa fa-door-open"></i>
                Visitors Report
                <i class="fa fa-caret-down"></i>
              </a>
              <ul id="visitors_nav" class="collapse list-unstyled">
                  <li class="">  <a href="{%  url 'visitors-today' %}"> Today's Visitors </a></li>
                  <li class="">  <a href="#">Yesterday's Visitors</a></li>
                  <li class="">  <a href="#">This week's Visitors</a></li>
                  <li class="">  <a href="#">All Visitors</a></li>
                  <li class="">  <a href="{% url 'visitors' %}"><button  class="btn btn-primary">Manage Visitors</button></a></li>
              </ul>
         </li>
          
         <li class="">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#employees_nav">
                  <i class="fa fa-users"></i>
                  Employees 
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul id="employees_nav" class="collapse list-unstyled">
                    <li class=""> <a href="#" class=""> Today's Attendance </a></li>
                    <li class="">  <a href="#">Yesterday's Attendance</a></li>
                    <li class="">  <a href="#">This week's Attendance</a></li>
                    <li class="">  <a href="#">All Attendance</a></li>
                    <li class="">  <a href="{% url 'employees' %}"><button  class="btn btn-primary">Manage</button></a></li>
                </ul>
           </li>

        </ul>
     {% endblock %}
      </div>
        <div class="col-sm-9 ">
            {% block content %}
            {% endblock %}
        </div>
    </div>
  </div>
</body>
</html>