{% extends "base_generic.html" %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h4>Visitors Report <small class="badge badge-pill badge-primary">0</small></h4>
    </div>
    
    <div class="card-body">

        <div class="row">
            <div class="col person">
                <div class="row">
                    <div class="pic">{% load static %}
                        <img  src="{% static 'img/pic.png' %}" />
                    </div>
                    <ul class="list-unstyled col">
                        <li><h6>Mohammed Rahman</h6></li>
                        <li><small><i class="fa fa-building"></i> Sylprin Company</small></li>
                        <li><small><i class="fa fa-phone"> </i> 0547204911</small></li>
                        <li><small><i class="fa fa-user"> </i> person to see</small></li>
                        <li><small><i class="fa fa-question"> </i> purpose</small></li>
                        <li><small><i class="fa fa-tag"> </i> Tag ID</small></li>
                        <li><a href="#">Details</a></li>
                    </ul>
                </div>
            </div>
    
            <div class="col person">
                <div class="row">
                    <div class="pic">{% load static %}
                        <img  src="{% static 'img/pic.png' %}" />
                    </div>
                    <ul class="list-unstyled col">
                        <li><h6>Mohammed Rahman</h6></li>
                        <li><small><i class="fa fa-building"></i> Sylprin Company</small></li>
                        <li><small><i class="fa fa-phone"> </i> 0547204911</small></li>
                        <li><small><i class="fa fa-user"> </i> person to see</small></li>
                        <li><small><i class="fa fa-question"> </i> purpose</small></li>
                        <li><small><i class="fa fa-tag"> </i> Tag ID</small></li>
                        <li><a href="#">Details</a></li>
                    </ul>
                </div>
            </div>
    
    
            <div class="col person">
                <div class="row">
                    <div class="pic">{% load static %}
                        <img  src="{% static 'img/pic.png' %}" />
                    </div>
                    <ul class="list-unstyled col">
                        <li><h6>Mohammed Rahman</h6></li>
                        <li><small><i class="fa fa-building"></i> Sylprin Company</small></li>
                        <li><small><i class="fa fa-phone"> </i> 0547204911</small></li>
                        <li><small><i class="fa fa-user"> </i> person to see</small></li>
                        <li><small><i class="fa fa-question"> </i> purpose</small></li>
                        <li><small><i class="fa fa-tag"> </i> Tag ID</small></li>
                        <li><a href="#">Details</a></li>
                    </ul>
                </div>
            </div>

    </div>
  
</div>
  


{% endblock %}