{% extends "base_generic.html" %}

{% block content %}
    <div class="card">
         <form action="" method="post">
            <div class="card-header">
                <h3>New Visitor</h3>
            </div>
            <div class="card-body">
                
                {% csrf_token %}
                    <table>
                    {{form.as_table}}
                    </table>
            
            </div>
            <div class="card-footer">
                <input class="btn btn-primary" type="submit" value="Submit" />
            </div>
        </form>
    </div>
{% endblock %}